
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="testing.css">
        <title>
            Sentiment Analysis
        </title>
    </head>
    <body>
        <h3>
            Sentiment Analysis
        </h3>
        <p>
            Sentiment analysis of Amazon reviews<br>
            <form action="/testing3" method="post">
                Enter the Product link of which you want to get Sentiment: <input type="url" name="amazon_link">  <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>