
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="testing.css">
        <title>
            Sentiment Analysis
        </title>
    </head>
    <body>
        <h3>
            Sentiment Analysis
        </h3>
        <p>
            Sentiment analysis of Amazon reviews<br>
            <form action="/testing2" method="post">
                Do you want to search product with link (yes/no): <input type="text" name="first_name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>